<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<hr />

<Editor Id="editorjs-blazor" Name="editorjs-blazor" Value="EditorValue" ValueChanged="OnEditorValueChanged" Tools="EditorTools" Configurations="EditorConfigurations" Style="border: thin dashed grey; max-height: 40px; padding: 0 10px 0 10px;" />

<hr />

<Editor @ref="editor_02" Id="editorjs-blazor-02" Name="editorjs-blazor-02" Value="EditorValue02" ValueChanged="OnEditorValue02Changed" Tools="EditorTools02" Configurations="EditorConfigurations02" Style="margin-top: 20px; border: thin dashed grey; padding: 0 20px 0 20px;" />