@page "/"
@using EditorJS
@using System.Text.Json.Nodes

<PageTitle>Blazor App for EditorJS</PageTitle>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" @onclick="CheckEditorValueAsync">Check Value (Console)</button>
</div>

<Editor Id="editorjs-blazor" Name="editorjs-blazor" Value="EditorValue" ValueChanged="OnEditorValueChanged" Tools="EditorTools" Configurations="EditorConfigurations" Style="margin-top: 20px; border: thin dashed grey; padding: 0 20px 0 20px;" />

<hr />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" @onclick="CopyValueAsync">Copy values from first editor...</button>
</div>

<Editor @ref="editor_02" Id="editorjs-blazor-02" Name="editorjs-blazor-02" Value="EditorValue02" ValueChanged="OnEditorValue02Changed" Tools="EditorTools02" Configurations="EditorConfigurations02" Style="margin-top: 20px; border: thin dashed grey; padding: 0 20px 0 20px;" />
