@page "/"
@using EditorJS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container">
    <div class="row py-2">
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" @onclick="CheckEditorValueAsync">Check Value (Console)</button>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <Editor Id="editorjs-blazor" Name="editorjs-blazor" Value="EditorValue" ValueChanged="OnEditorValueChanged" Tools="EditorTools" Configurations="EditorConfigurations" Style="border: thin dashed grey; max-height: 40px; padding: 0 10px 0 10px;" />
        </div>
    </div>
</div>
